* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.winning-streak {
  display: none;
  color: white;
  margin: .5em;
}

.guide{
  color: white;
}

.result {
  color: gold;
  text-align: center;
  margin: 1em .5em .4em .5em;
}

.btn-text {
  color: white;
  background-color: black;
}

.replay-btn-txt {
  color: white;
  background-color: black;
}

.stats {
  display: block;
  background-color: black;
  border-style: solid;
  border-color: goldenrod;
  border-radius: 10px;
  padding: 1em 2em 1em 2em;
  text-align: center;
}

.replay-text {
  display: block;
  background-color: black;
  border-style: solid;
  border-color: goldenrod;
  border-radius: 10px;
  padding: 1em 2em 1em 2em;
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(65, 62, 62);
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restart {
  background-color: rgb(65, 62, 62);
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  grid-gap: 2em;
  pointer-events: none;
}

.replay {
  background-color: rgb(65, 62, 62);
  border-radius: 12px;
  display: none;/*none*/
  grid-template-columns: auto;
  place-items: center;
  grid-gap: 2em;
  pointer-events: none;
}

.middle {
  padding: 1em;
}

.bottom {
  padding: 4em;
}

.heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.cards {
  display: none;
  pointer-events: none;
  grid-template-columns: auto;
  grid-gap: 4em;
}

.grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
  grid-gap: 2em;
}

.grid-button {
  height: 9vw;
  width: 21vw;
  background-color: red;
  border-color: white;
  border-radius: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s all ease;
}

.grid-text {
  font-family: "Poppins", sans-serif;
}

.time {
  display: none;
  color: white;
  margin: 1em .5em .4em .5em;
}

.card {
  height: 120px;
  width: 100px;
  background-color: red;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s all ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 80%;
  max-height: 90px;
  opacity: 0;
  transition: 0.3s all ease;
}

.card.clicked {
  background-color: orange;
  transform: rotateY( 180deg )
}

.card.rotate {
  transform: rotateY( 180deg );
}

.card.checked {
  background-color: lightgreen;
}

.card.clicked img,
.card.checked img {
  opacity: 1;
}

.card.turn {
  background-color: #f15f5f;
  transform: rotateY( 180deg );
}

.grid-button:active {
  transform: scale(0.8);
}

.restart:active {
  transform: scale(1);
}

.replay:active {
  transform: scale(1);
}

